<p id="notice"><%= notice %></p>
<p>
	<strong>Trivia:</strong>
	<%= @previous_question.trivium.prompt %>
</p>
<p>
	<strong>Response:</strong>
	<%= @previous_question.response %>
</p>
<% console %>
<% if @previous_question.is_correct %>
	<p> <%= "Congratulations! Your answer of #{ @previous_question.response } was correct!" %> </p>
<% else %>
	<p> <%= "Sorry, your choice of #{ @previous_question.response } was incorrect!  The correct answer was #{ @previous_question.trivium.correct }!" %>
	<% end %>
	<% if @done %>
		<%= button_to  "See Results", quiz_path(id: @quiz.id, quiz: {id: @quiz.id, score: @score}), method: :put %>
	<% else %>
		<%= button_to 'Next Question', edit_question_path(@question), method: :get %>
	<% end %>
