<%= form_with(model: quiz_trivium, local: true) do |form| %>
  <% if quiz_trivium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz_trivium.errors.count, "error") %> prohibited this quiz_trivium from being saved:</h2>

      <ul>
        <% quiz_trivium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :edit %>
    <%= form.text_field :edit %>
  </div>

  <div class="field">
    <%= form.label :update %>
    <%= form.text_field :update %>
  </div>

  <div class="field">
    <%= form.label :show %>
    <%= form.text_field :show %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
