<p id="notice"><%= notice %></p>

<p>
  <strong>Edit:</strong>
  <%= @quiz_trivium.edit %>
</p>

<p>
  <strong>Update:</strong>
  <%= @quiz_trivium.update %>
</p>

<p>
  <strong>Show:</strong>
  <%= @quiz_trivium.show %>
</p>

<%= link_to 'Edit', edit_quiz_trivium_path(@quiz_trivium) %> |
<%= link_to 'Back', quiz_trivia_path %>
